Projects
Applications
Desktop
Config
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Postman
Public
.ssh
.config/coc
.cache
.local
.m2
.ivy2
.aws
.android
.profile
.gitconfig
.kube
.gradle
.fundomate-automation
.docker
.bloop
.zsh_history
.zsh_sessions
.bash_history
.npm
.oracle_jre_usage
.sonarlint
.pgpass
.vsnip
.psql_history
.testcontainers.properties
.zprofile.pysave
.lesshst
.zcompdump-*
.CFUserTextEncoding
.tmux
.viminfo
.bashrc
.oh-my-zsh
.zprofile
Iterm2
